fastapi
sqlalchemy
pydantic
email-validator
langchain-openai
langchain-core
python-dotenv
pymysql
uvicorn
requests
httpx
torch
torchvision
pillow
opencv-python
numpy
mediapipe
python-multipart
langchain-community
duckduckgo-search
